@import '../../../assets/params.scss';

@media only screen and (max-width: 768px) {
    .app-accordion-container {
        margin-bottom: 10px;

        .MuiAccordion-root {
            border-radius: 15px !important;
            background: $white;
            padding: 12px 0px;
            border-width: 2px;
            border-color: $gray;
            border-style: solid;
            box-shadow: none;

            &:hover {
                background: $gray;
            }

            .MuiAccordionSummary-root {
                .MuiAccordionSummary-content {
                    margin: 12px 0px;
                    align-items: center;

                    .app-accordion-tick-icon-container {

                        background: $pale_green;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;

                        .app-accordion-tick-icon {
                            width: 2.2rem;
                            height: 2.2rem;
                            padding: 6px;
                            // color: #4fafb2;
                            // background-color: $black;
                            // color: #191919;
                            // box-shadow: 0 0 0 3em #4fafb2 inset;
                        }
                    }



                    .app-accordion-title {
                        font-size: .9em;
                        font-weight: 900;
                        line-height: 1.5;
                        border: none !important;
                        padding: 0 0 0 1em;
                        -webkit-flex: 1 0 100%;
                        -ms-flex: 1 0 100%;
                        flex: 1 0 100%;
                        z-index: 2;
                    }
                }
            }

            .MuiCollapse-container {
                .MuiAccordionDetails-root {
                    padding: 0px 60px 12px;
                    word-wrap: break-word;

                    .app-accordion-para {
                        text-align: left;
                        color: $black_2;
                        font-weight: 400;
                        line-height: 1.8em;
                        font-size: 16px;

                        .app-accordion-know-more {
                            margin-top: 10px;
                            color: $yellow;


                        }
                    }
                }
            }
        }




    }
}

@media (min-width:768px) and (max-width:1199px) {
    .app-accordion-container {
        margin-bottom: 10px;

        .MuiAccordion-root {
            border-radius: 15px !important;
            background: $white;
            padding: 12px 0px;
            border-width: 2px;
            border-color: $gray;
            border-style: solid;
            box-shadow: none;

            &:hover {
                background: $gray;
            }

            .MuiAccordionSummary-root {
                .MuiAccordionSummary-content {
                    margin: 12px 0px;
                    align-items: center;

                    .app-accordion-tick-icon-container {

                        background: $pale_green;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;

                        .app-accordion-tick-icon {
                            width: 2.2rem;
                            height: 2.2rem;
                            padding: 6px;
                            // color: #4fafb2;
                            // background-color: $black;
                            // color: #191919;
                            // box-shadow: 0 0 0 3em #4fafb2 inset;
                        }
                    }



                    .app-accordion-title {
                        font-size: .9em;
                        font-weight: 900;
                        line-height: 1.5;
                        border: none !important;
                        padding: 0 0 0 1.5em;
                        -webkit-flex: 1 0 100%;
                        -ms-flex: 1 0 100%;
                        flex: 1 0 100%;
                        z-index: 2;
                    }
                }
            }

            .MuiCollapse-container {
                .MuiAccordionDetails-root {
                    padding: 0px 72px 12px;

                    .app-accordion-para {
                        text-align: left;
                        color: $black_2;
                        font-weight: 400;
                        line-height: 1.8em;
                        font-size: 16px;

                        .app-accordion-know-more {
                            color: $yellow;

                        }
                    }
                }
            }
        }




    }
}

@media only screen and (min-width: 1200px) {
    .app-accordion-container {
        margin-bottom: 10px;

        .MuiAccordion-root {
            border-radius: 15px !important;
            background: $white;
            padding: 12px 0px;
            border-width: 2px;
            border-color: $gray;
            border-style: solid;
            box-shadow: none;

            &:hover {
                background: $gray;
            }

            .MuiAccordionSummary-root {
                .MuiAccordionSummary-content {
                    margin: 12px 0px;
                    align-items: center;

                    .app-accordion-tick-icon-container {

                        background: $pale_green;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;

                        .app-accordion-tick-icon {
                            width: 2.2rem;
                            height: 2.2rem;
                            padding: 6px;
                            // color: #4fafb2;
                            // background-color: $black;
                            // color: #191919;
                            // box-shadow: 0 0 0 3em #4fafb2 inset;
                        }
                    }



                    .app-accordion-title {
                        font-size: .9em;
                        font-weight: 900;
                        line-height: 1.5;
                        border: none !important;
                        padding: 0 0 0 1.5em;
                        -webkit-flex: 1 0 100%;
                        -ms-flex: 1 0 100%;
                        flex: 1 0 100%;
                        z-index: 2;
                    }
                }
            }

            .MuiCollapse-container {
                .MuiAccordionDetails-root {
                    padding: 0px 72px 12px;

                    .app-accordion-para {
                        text-align: left;
                        color: $black_2;
                        font-weight: 400;
                        line-height: 1.8em;
                        font-size: 16px;

                        .app-accordion-know-more {
                            color: $yellow;

                        }
                    }
                }
            }
        }




    }
}