@import '../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .service-container {
        width: 100vw;
        // position: relative;

        // .service-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .service-header-container {
            // margin-top: 36vh;
            width: 100%;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            padding: 3rem 20px 1rem 20px;

            .service-header-margin {

                .service-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .service-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .service-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            margin-bottom: 4em;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .service-image-container-wrapper {

                .service-image-text-container {
                    padding: 4em 20px;

                    .service-image-text {
                        color: $white;
                    }

                    .service-image-text-1 {
                        font-size: 1rem;
                        margin-bottom: 16px;
                    }

                    .service-image-text-2 {
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 3.6rem;
                    }

                    .service-image-text-3 {
                        font-size: 1.5rem;
                        margin-top: 16px;
                    }
                }

            }
        }

        .service-content-container-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .service-content-container {
                margin: 3em 0 1em 0;
                width: 100%;
                padding: 0 20px;

                .service-body-wrapper {
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;

                    // margin-top: 10em;

                    .service-body {}
                }
            }
        }

    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .service-container {
        width: 100vw;
        // position: relative;

        // .service-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .service-header-container {
            // margin-top: 36vh;
            width: 100%;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            padding: 10rem 20px 1rem 20px;

            .service-header-margin {

                .service-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .service-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .service-image-container {
            display: flex;
            flex-direction: column;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .service-image-container-wrapper {
                .service-image-text-container {
                    padding: 4em 20px;

                    .service-image-text {
                        color: $white;
                    }

                    .service-image-text-1 {
                        font-size: 1rem;
                        margin-bottom: 16px;
                    }

                    .service-image-text-2 {
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 3.6rem;
                    }

                    .service-image-text-3 {
                        font-size: 1.5rem;
                        margin-top: 16px;
                    }
                }

            }
        }

        .service-content-container-wrapper {
            display: flex;
            flex-direction: column;

            .service-content-container {
                margin: 3em 0 4em 0;

                .service-body-wrapper {
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;

                    // margin-top: 10em;

                    .service-body {}
                }
            }
        }

    }
}

@media only screen and (min-width: 1200px) {
    .service-container {
        width: 100vw;
        // position: relative;

        // .service-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .service-header-container {
            // margin-top: 36vh;
            width: 100%;
            padding-top: 17rem;
            padding-bottom: 3rem;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            align-items: center;

            .service-header-margin {
                width: 1200px;

                .service-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .service-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .service-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .service-image-container-wrapper {
                width: 1200px;


                .service-image-text-container {
                    padding: 4em 0;

                    .service-image-text {
                        color: $white;
                    }

                    .service-image-text-1 {
                        font-size: 1rem;
                        margin-bottom: 16px;
                    }

                    .service-image-text-2 {
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 3.6rem;
                    }

                    .service-image-text-3 {
                        font-size: 1.5rem;
                        margin-top: 16px;
                    }
                }

            }
        }

        .service-content-container-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .service-content-container {
                width: 1200px;
                margin: 3em 0 9em 0;

                .service-body-wrapper {
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;

                    // margin-top: 10em;

                    .service-body {
                        width: 1200px;
                    }
                }
            }
        }

    }
}