@import '../../../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .wos-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        margin: 2rem 0;
        scroll-margin-top: $mobile_menu_safe_area;

        .wos-left-container {
            padding-bottom: 2rem;

            .wos-divider {
                margin-bottom: 1rem;
            }

            .wos-title-container {
                .wos-title {

                    .wos-title-yellow {
                        display: block;
                    }
                }
            }

            .wos-description-container {
                .wos-description-text {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    margin-top: 1em;
                    font-weight: 400;
                    color: #191919;
                }
            }

            .wos-accordion-container {}
        }

        .wos-right-container {
            position: relative;

            .wos-right-container-main {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: calc(100vw + 0px);

                .wos-right-container-sub-container {
                    // padding-left: 2rem;


                    .wos-right-image {
                        // height: 60vh;
                        width: 100vw;
                        max-height: 900px;
                        object-fit: cover;
                        align-self: center;
                    }

                    .wos-right-bone-container {
                        // position: absolute;  
                        bottom: 0;
                        margin-top: -20px;
                    }
                }

            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .wos-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        margin: 2rem 0;
        scroll-margin-top: $mobile_menu_safe_area;

        .wos-left-container {
            width: 50%;
            padding-bottom: 4rem;

            .wos-divider {
                margin-bottom: 3rem;
            }

            .wos-title-container {
                // .wos-title {
                //     font-size: 2.95rem;
                //     font-weight: 900;
                //     line-height: 1.2;
                //     color: $black;
                //     font-family: "Nunito", Arial, Helvetica, sans-serif;

                //     .wos-title-yellow {
                //         color: $yellow;
                //     }
                // }
            }

            .wos-description-container {
                .wos-description-text {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    margin-top: 1em;
                    font-weight: 400;
                    color: #191919;
                }
            }

            .wos-accordion-container {}
        }

        .wos-right-container {
            width: 50%;
            position: relative;

            .wos-right-container-main {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: calc(50vw + -100px);

                .wos-right-container-sub-container {
                    padding-left: 2rem;


                    .wos-right-image {
                        height: 70vh;
                        max-height: 900px;
                        object-fit: cover;
                        align-self: center;
                    }

                    .wos-right-bone-container {
                        position: absolute;
                        bottom: 0;
                    }
                }

            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .wos-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        margin: 2rem 0;

        .wos-left-container {
            width: 60%;
            padding-bottom: 4rem;

            .wos-divider {
                margin-bottom: 3rem;
            }

            .wos-title-container {
                // .wos-title {
                //     font-size: 2.95rem;
                //     font-weight: 900;
                //     line-height: 1.2;
                //     color: $black;
                //     font-family: "Nunito", Arial, Helvetica, sans-serif;

                //     .wos-title-yellow {
                //         color: $yellow;
                //     }
                // }
            }

            .wos-description-container {
                .wos-description-text {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    margin-top: 1em;
                    font-weight: 400;
                    color: #191919;
                }
            }

            .wos-accordion-container {}
        }

        .wos-right-container {
            width: 40%;
            position: relative;

            .wos-right-container-main {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: calc(50vw + -100px);

                .wos-right-container-sub-container {
                    padding-left: 2rem;


                    .wos-right-image {
                        height: 70vh;
                        max-height: 900px;
                        object-fit: cover;
                        align-self: center;
                    }

                    .wos-right-bone-container {
                        position: absolute;
                        bottom: 0;
                    }
                }

            }
        }
    }
}