@import '../../../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .sc-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        margin: 2rem 0;
        justify-content: space-between;
        scroll-margin-top: $mobile_menu_safe_area;

        .sc-left-container {
            // padding-bottom: 1rem;
            position: relative;

            .sc-divider {
                margin-bottom: 1.5rem;
            }

            .sc-title-container {
                .sc-title {
                    font-size: 2.95rem;
                    font-weight: 900;
                    line-height: 1.2;
                    color: $black;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;

                    .sc-title-yellow {
                        color: $yellow;

                    }
                }
            }

            .sc-description-container {
                .sc-description-text {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    margin-top: 1em;
                    font-weight: 400;
                    color: #191919;
                }
            }

            .sc-right-bone-container {
                // position: absolute;
                // bottom: 0;
                float: right;
            }

            .sc-accordion-container {}
        }

        .sc-right-container {
            position: relative;

            .sc-right-container-main {
                height: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;

                width: calc(100vw + 0px);

                .sc-right-container-sub-container {
                    // padding-left: 2rem;


                    .sc-right-image {
                        width: 90vw;
                        object-fit: cover;
                        align-self: center;
                    }
                }

            }
        }
    }
}


@media (min-width: 769px) and (max-width: 1199px) {
    .sc-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        margin: 2rem 0;
        justify-content: space-between;
        scroll-margin-top: $mobile_menu_safe_area;

        .sc-left-container {
            width: 55%;
            position: relative;

            .sc-divider {
                margin-bottom: 3rem;
            }

            .sc-title-container {
                .sc-title {
                    font-size: 2.95rem;
                    font-weight: 900;
                    line-height: 1.2;
                    color: $black;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;

                    .sc-title-yellow {
                        color: $yellow;
                        white-space: nowrap;

                    }
                }
            }

            .sc-description-container {
                .sc-description-text {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    margin-top: 1em;
                    font-weight: 400;
                    color: #191919;
                }
            }

            .sc-right-bone-container {
                // position: absolute;
                // bottom: 0;
                float: right;
            }

            .sc-accordion-container {}
        }

        .sc-right-container {
            width: 45%;
            position: relative;

            .sc-right-container-main {
                height: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 3rem;
                // justify-content: center;

                width: calc(50vw + -100px);

                .sc-right-container-sub-container {
                    padding-left: 2rem;


                    .sc-right-image {
                        width: 45vw;
                        object-fit: cover;
                        align-self: center;
                    }
                }

            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .sc-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        margin: 2rem 0;
        justify-content: space-between;

        .sc-left-container {
            width: 40%;
            padding-bottom: 4rem;
            position: relative;

            .sc-divider {
                margin-bottom: 3rem;
            }

            .sc-title-container {
                .sc-title {
                    font-size: 2.95rem;
                    font-weight: 900;
                    line-height: 1.2;
                    color: $black;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;

                    .sc-title-yellow {
                        color: $yellow;
                        white-space: nowrap;

                    }
                }
            }

            .sc-description-container {
                .sc-description-text {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    margin-top: 1em;
                    font-weight: 400;
                    color: #191919;
                }
            }

            .sc-right-bone-container {
                // position: absolute;
                // bottom: 0;
                float: right;
            }

            .sc-accordion-container {}
        }

        .sc-right-container {
            width: 55%;
            position: relative;

            .sc-right-container-main {
                height: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;

                width: calc(50vw + -100px);

                .sc-right-container-sub-container {
                    padding-left: 2rem;


                    .sc-right-image {
                        height: 90vh;
                        max-height: 900px;
                        object-fit: cover;
                        align-self: center;
                    }
                }

            }
        }
    }
}