@import '../../../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .intro-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin-bottom: 2rem;
        scroll-margin-top: $mobile_menu_safe_area;

        .intro-left-container {
            // width: 40%;
            margin-top: 5rem;
            margin-bottom: 2rem;


            .intro-title-container {
                .intro-title {
                    font-size: 2.65rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    line-height: 1.2;
                    text-align: left;
                    opacity: 0.9;
                }

                .intro-title-1 {
                    color: $black_2;
                }

                .intro-title-2 {
                    color: $yellow;
                }
            }

            .intro-carousal-container {
                margin: 36px 0;

                .intro-carousal-container-main {
                    .carousel-slider {
                        overflow: visible;

                        .control-dots {
                            margin: 0;
                            bottom: -32px;
                            text-align: left;
                            margin-left: 20px;

                            .dot {
                                background: $black_2;
                                opacity: 1;
                            }

                            .selected {
                                background: $yellow;
                            }
                        }
                    }

                    .intro-carousal-div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .intro-carousal-image {
                            width: 5.8rem;
                            height: 5.8rem;
                            margin: 0 30px;
                        }

                        .intro-carousal-text-container {
                            border-left: 1px solid $black;
                            text-align: left;
                            padding: 0 30px;

                            .intro-carousal-title {
                                font-weight: 800;
                                font-size: 22px;
                                line-height: 1.4;

                            }

                            .intro-carousal-para {
                                padding-top: .6em;
                                line-height: 1.5;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .intro-bone-container {
                margin-top: 4rem;
            }
        }

        .intro-right-container {
            // width: 60%;
            display:none;

            .intro-right-container-main {
                width: calc(100vw + 0px);
                height: 100%;

                .intro-right-image {
                    height: 80vw;
                    align-self: flex-end;
                    float: right;
                    object-fit: contain;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .intro-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        margin-bottom: 2rem;
        scroll-margin-top: $mobile_menu_safe_area;

        .intro-left-container {
            width: 50%;
            margin-top: 5rem;


            .intro-title-container {
                .intro-title {
                    font-size: 3.6rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    line-height: 1.2;
                    text-align: left;
                    opacity: 0.9;
                }

                .intro-title-1 {
                    color: $black_2;
                }

                .intro-title-2 {
                    color: $yellow;
                }
            }

            .intro-carousal-container {
                margin: 36px 0;

                .intro-carousal-container-main {
                    .carousel-slider {
                        overflow: visible;

                        .control-dots {
                            margin: 0;
                            bottom: -32px;
                            text-align: left;
                            margin-left: 20px;

                            .dot {
                                background: $black_2;
                                opacity: 1;
                            }

                            .selected {
                                background: $yellow;
                            }
                        }
                    }

                    .intro-carousal-div {
                        display: flex;
                        flex-direction: row;

                        .intro-carousal-image {
                            width: 5.8rem;
                            height: 5.8rem;
                            margin: 0 30px;
                        }

                        .intro-carousal-text-container {
                            border-left: 1px solid $black;
                            text-align: left;
                            padding: 0 30px;

                            .intro-carousal-title {
                                font-weight: 800;
                                font-size: 22px;
                                line-height: 1.4;

                            }

                            .intro-carousal-para {
                                padding-top: .6em;
                                line-height: 1.5;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .intro-bone-container {
                margin-top: 4rem;
            }
        }

        .intro-right-container {
            width: 50%;
            // 

            .intro-right-container-main {
                width: calc(70vw + -100px);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .intro-right-image {
                    width: 60vw;
                    align-self: flex-end;
                    float: right;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .intro-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        margin-bottom: 2rem;

        .intro-left-container {
            width: 40%;
            margin-top: 10rem;


            .intro-title-container {
                .intro-title {
                    font-size: 3.6rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    line-height: 1.2;
                    text-align: left;
                    opacity: 0.9;
                }

                .intro-title-1 {
                    color: $black_2;
                }

                .intro-title-2 {
                    color: $yellow;
                }
            }

            .intro-carousal-container {
                margin: 36px 0;

                .intro-carousal-container-main {
                    .carousel-slider {
                        overflow: visible;

                        .control-dots {
                            margin: 0;
                            bottom: -32px;
                            text-align: left;
                            margin-left: 20px;

                            .dot {
                                background: $black_2;
                                opacity: 1;
                            }

                            .selected {
                                background: $yellow;
                            }
                        }
                    }

                    .intro-carousal-div {
                        display: flex;
                        flex-direction: row;

                        .intro-carousal-image {
                            width: 5.8rem;
                            height: 5.8rem;
                            margin: 0 30px;
                        }

                        .intro-carousal-text-container {
                            border-left: 1px solid $black;
                            text-align: left;
                            padding: 0 30px;

                            .intro-carousal-title {
                                font-weight: 800;
                                font-size: 22px;
                                line-height: 1.4;

                            }

                            .intro-carousal-para {
                                padding-top: .6em;
                                line-height: 1.5;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .intro-bone-container {
                margin-top: 4rem;
            }
        }

        .intro-right-container {
            width: 60%;
            // 

            .intro-right-container-main {
                width: calc(70vw + -100px);
                height: 100%;

                .intro-right-image {
                    height: 100vh;
                    align-self: flex-end;
                    float: right;
                }
            }
        }
    }
}