@import '../../assets/params.scss';


@media only screen and (max-width: 768px) {

    .ts-container {
        width: 100vw;
        // position: relative;

        // .ts-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .ts-header-container {
            // margin-top: 36vh;
            width: 100%;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            padding: 3rem 20px 1rem 20px;

            .ts-header-margin {

                .ts-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .ts-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .ts-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .ts-image-container-wrapper {
                padding: 4em 20px;

                .ts-image-text {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $yellow;
                    padding: 2em 0;
                }
            }
        }

        .ts-content-container-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .ts-content-container {
                margin: 3em 20px 1em 20px;

                .ts-content {

                    .ts-content-title {
                        margin: 1.5rem 0 1rem 0;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.4;
                        color: $black_2;
                    }

                    .ts-content-ul {
                        margin: 0;

                        .ts-content-1-li {}
                    }

                    .ts-content-text {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.4;
                        color: $black_2;
                        line-height: 1.8em;
                    }
                }
            }
        }

    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .ts-container {
        width: 100vw;
        // position: relative;

        // .ts-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .ts-header-container {
            // margin-top: 36vh;
            width: 100%;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            padding: 10rem 20px 1rem 20px;

            .ts-header-margin {

                .ts-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .ts-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .ts-image-container {
            display: flex;
            flex-direction: column;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            padding-left: 1rem;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .ts-image-container-wrapper {
                .ts-image-text {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $yellow;
                    padding: 2em 0;
                }
            }
        }

        .ts-content-container-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .ts-content-container {
                margin: 3em 20px;

                .ts-content {

                    .ts-content-title {
                        margin: 1.5rem 0 1rem 0;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.4;
                        color: $black_2;
                    }

                    .ts-content-ul {
                        margin: 0;

                        .ts-content-1-li {}
                    }

                    .ts-content-text {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.4;
                        color: $black_2;
                        line-height: 1.8em;
                    }
                }
            }
        }

    }
}

@media only screen and (min-width: 1200px) {

    .ts-container {
        width: 100vw;
        // position: relative;

        // .ts-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .ts-header-container {
            // margin-top: 36vh;
            width: 100%;
            padding-top: 17rem;
            padding-bottom: 3rem;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            align-items: center;

            .ts-header-margin {
                width: 1200px;

                .ts-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .ts-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .ts-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .ts-image-container-wrapper {
                width: 1200px;


                .ts-image-text {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $yellow;
                    padding: 2em 0;
                }
            }
        }

        .ts-content-container-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .ts-content-container {
                width: 1200px;
                margin: 3em 0 9em 0;

                .ts-content {

                    .ts-content-title {
                        margin: 1.5rem 0 1rem 0;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.4;
                        color: $black_2;
                    }

                    .ts-content-ul {
                        margin: 0;

                        .ts-content-1-li {}
                    }

                    .ts-content-text {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.4;
                        color: $black_2;
                        line-height: 1.8em;
                    }
                }
            }
        }

    }
}