@import '../assets/params.scss';



a {
    text-decoration: none;
}

p {
    margin: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-col {
        display: column;
        flex-direction: row;
    }
}

@media only screen and (max-width: 1199px) {
    .menu-save-area {
        padding-top: $mobile_menu_safe_area;
    }
}