@import '../../../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .ft-container {
        scroll-margin-top: $mobile_menu_safe_area;
        .ft-wrapper {
            display: flex;
            flex-direction: column;

            .ft-left-container {

                .ft-header-container {
                    margin-top: 2em;

                    .ft-header-text {
                        font-size: 3.6rem;
                        font-weight: 800;
                        line-height: 1.2;
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        color: $yellow;

                        .ft-header-text-blue {
                            color: $pale_green;
                        }
                    }
                }

                .ft-content-main {
                    margin-top: 2em;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;


                    .ft-content-container {
                        padding: 20px;
                        display: flex;
                        flex-direction: row;

                        .ft-content-image {
                            width: 65px;
                            height: 65px;
                        }

                        .ft-content-text {
                            padding-left: 20px;
                            font-size: 1em;
                            font-weight: 400;
                            line-height: 1.2;
                            color: $pale_green;

                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                }
            }

            .ft-right-container {
                .ft-right-image-wrapper {
                    width: 100%;

                    .ft-right-image {
                        object-fit: cover;
                    }
                }

                .ft-right-bone-container {
                    float: right;
                }
            }
        }
    }
}


@media (min-width: 769px) and (max-width: 1199px) {
    .ft-container {
        padding: 20px;
        scroll-margin-top: $mobile_menu_safe_area;

        .ft-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .ft-left-container {

                .ft-header-container {
                    margin-top: 2em;

                    .ft-header-text {
                        font-size: 3.6rem;
                        font-weight: 800;
                        line-height: 1.2;
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        color: $yellow;

                        .ft-header-text-blue {
                            color: $pale_green;
                        }
                    }
                }

                .ft-content-main {
                    margin-top: 4em;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;


                    .ft-content-container {
                        padding: 20px;
                        display: flex;
                        flex-direction: row;
                        width: 50%;
                        align-items: center;

                        .ft-content-image {
                            width: 65px;
                            height: 65px;
                        }

                        .ft-content-text {
                            padding-left: 20px;
                            font-size: 1em;
                            font-weight: 400;
                            line-height: 1.2;
                            color: $pale_green;

                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                }
            }

            .ft-right-container {
                .ft-right-image-wrapper {
                    padding-left: 20px;

                    .ft-right-image {}
                }

                .ft-right-bone-container {
                    float: right;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .ft-container {
        .ft-wrapper {
            display: flex;
            flex-direction: row;

            .ft-left-container {
                width: 50%;

                .ft-header-container {
                    margin-top: 2em;

                    .ft-header-text {
                        font-size: 3.6rem;
                        font-weight: 800;
                        line-height: 1.2;
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        color: $yellow;

                        .ft-header-text-blue {
                            color: $pale_green;
                        }
                    }
                }

                .ft-content-main {
                    margin-top: 4em;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;


                    .ft-content-container {
                        padding: 20px;
                        display: flex;
                        flex-direction: row;
                        width: 50%;

                        .ft-content-image {
                            width: 65px;
                            height: 65px;
                        }

                        .ft-content-text {
                            padding-left: 20px;
                            font-size: 1em;
                            font-weight: 400;
                            line-height: 1.2;
                            color: $pale_green;

                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                }
            }

            .ft-right-container {
                width: 50%;

                .ft-right-image-wrapper {
                    padding-left: 20px;

                    .ft-right-image {}
                }

                .ft-right-bone-container {
                    float: right;
                }
            }
        }
    }
}