@import '../../../assets/params.scss';




@media only screen and (min-width: 1200px) {
    .safeArea-alternate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .safeArea-container {
        display: flex;
        align-self: center;
        justify-content: center;
        // height: 100vh;
        position: relative;

        .safeArea-body {
            width: 1200px;
        }
    }


}

@media only screen and (min-width: 769px) and (max-width: 1199px) {
    .safeArea-container {
        max-width: '100%';
    }
}

@media only screen and (max-width: 768px) {
    .safeArea-container {
        max-width: '100%';
        // margin-top: 56px;
    }
}