@import '../../../../assets/params.scss';

@media only screen and (max-width: 768px) {
    .packages-container {
        padding: 20px;
        margin: 2rem 0;
        scroll-margin-top: $mobile_menu_safe_area;

        .packages-title-container {
            .packages-title {
                .packages-title-yellow {}
            }
        }

        .packages-divider {
            margin-bottom: 1rem;
        }

        .packages-main-container {
            display: flex;
            flex-direction: column;

            .packages-tile-container {
                color: $black_2;
                opacity: 0.9;
                margin: 14px;

                .packages-tile {
                    border-radius: 30px;
                    padding: 2.8em 2.8em 2.2em 2.8em;
                    border: none;
                    background: #f2f2f4;
                    background-size: cover;

                    .packages-title {
                        font-weight: 800;
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-size: 2.4rem;
                        background-color: transparent !important;
                        padding: 0 0 1.5rem;
                        line-height: 1.3;
                    }

                    .packages-image-container {
                        .packages-image {
                            width: 5rem;
                            height: 5rem;
                        }
                    }

                    .packages-list-container {
                        .packages-ul {
                            list-style: none;
                            padding: 1.5rem 0 1.6rem 0;
                            margin: 0;

                            .packages-li-container {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                justify-content: space-between;
                                padding-bottom: 14px;

                                .packages-li {
                                    font-size: 16px;
                                    text-align: left;
                                    font-weight: 400;
                                    line-height: 1.8em;



                                }

                                .package-li-icon {
                                    margin-left: 2px;
                                    color: green;
                                }
                            }


                        }
                    }

                    .packages-amount-container {
                        .packages-amount {
                            font-weight: 800;
                            font-family: "Nunito", Arial, Helvetica, sans-serif;
                            line-height: 1.8em;
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }

        .packages-points-container {
            margin-top: 1rem;
            padding: 0 1rem;

            .packages-point {
                color: $black_2;
                font-weight: 400;
                line-height: 1.8em;
                font-size: 18px;
                margin-bottom: 1em;
                opacity: 0.9;
            }

            .packages-point-1 {}

            .packages-point-2 {
                font-weight: 800;

                .packages-point-yellow {
                    color: $yellow;
                }
            }

            .packages-point-3 {}
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .packages-container {
        padding: 20px;
        margin: 2rem 0;
        scroll-margin-top: $mobile_menu_safe_area;

        .packages-title-container {
            .packages-title {
                .packages-title-yellow {}
            }
        }

        .packages-divider {
            margin-bottom: 3rem;
        }

        .packages-main-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .packages-tile-container {
                max-width: 45%;
                min-width: 40%;
                color: $black_2;
                opacity: 0.9;
                margin-bottom: 24px;

                .packages-tile {
                    border-radius: 30px;
                    padding: 2.8em 2.8em 2.2em 2.8em;
                    border: none;
                    background: #f2f2f4;
                    background-size: cover;

                    .packages-title {
                        font-weight: 800;
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-size: 2.4rem;
                        background-color: transparent !important;
                        padding: 0 0 1.5rem;
                        line-height: 1.3;
                    }

                    .packages-image-container {
                        .packages-image {
                            width: 5rem;
                            height: 5rem;
                        }
                    }

                    .packages-list-container {
                        .packages-ul {
                            list-style: none;
                            padding: 1.5rem 0 1.6rem 0;
                            margin: 0;

                            .packages-li-container {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                justify-content: space-between;
                                padding-bottom: 14px;

                                .packages-li {
                                    font-size: 16px;
                                    text-align: left;
                                    font-weight: 400;
                                    line-height: 1.8em;



                                }

                                .package-li-icon {
                                    margin-left: 2px;
                                    color: green;
                                }
                            }


                        }
                    }

                    .packages-amount-container {
                        .packages-amount {
                            font-weight: 800;
                            font-family: "Nunito", Arial, Helvetica, sans-serif;
                            line-height: 1.8em;
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }

        .packages-points-container {
            margin-top: 4rem;

            .packages-point {
                color: $black_2;
                font-weight: 400;
                line-height: 1.8em;
                font-size: 18px;
                margin-bottom: 1em;
                opacity: 0.9;
            }

            .packages-point-1 {}

            .packages-point-2 {
                font-weight: 800;

                .packages-point-yellow {
                    color: $yellow;
                }
            }

            .packages-point-3 {}
        }
    }
}

@media only screen and (min-width: 1200px) {
    .packages-container {
        padding: 20px;
        margin: 2rem 0;

        .packages-title-container {
            .packages-title {
                .packages-title-yellow {}
            }
        }

        .packages-divider {
            margin-bottom: 3rem;
        }

        .packages-main-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .packages-tile-container {
                max-width: 24%;
                min-width: 20%;
                color: $black_2;
                opacity: 0.9;

                .packages-tile {
                    border-radius: 30px;
                    padding: 2.8em 2.8em 2.2em 2.8em;
                    border: none;
                    background: #f2f2f4;
                    background-size: cover;

                    .packages-title {
                        font-weight: 800;
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-size: 2.4rem;
                        background-color: transparent !important;
                        padding: 0 0 1.5rem;
                        line-height: 1.3;
                    }

                    .packages-image-container {
                        .packages-image {
                            width: 5rem;
                            height: 5rem;
                        }
                    }

                    .packages-list-container {
                        .packages-ul {
                            list-style: none;
                            padding: 1.5rem 0 1.6rem 0;
                            margin: 0;

                            .packages-li-container {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                justify-content: space-between;
                                padding-bottom: 14px;

                                .packages-li {
                                    font-size: 16px;
                                    text-align: left;
                                    font-weight: 400;
                                    line-height: 1.8em;



                                }

                                .package-li-icon {
                                    margin-left: 2px;
                                    color: green;
                                }
                            }


                        }
                    }

                    .packages-amount-container {
                        .packages-amount {
                            font-weight: 800;
                            font-family: "Nunito", Arial, Helvetica, sans-serif;
                            line-height: 1.8em;
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }

        .packages-points-container {
            margin-top: 4rem;

            .packages-point {
                color: $black_2;
                font-weight: 400;
                line-height: 1.8em;
                font-size: 18px;
                margin-bottom: 1em;
                opacity: 0.9;
            }

            .packages-point-1 {}

            .packages-point-2 {
                font-weight: 800;

                .packages-point-yellow {
                    color: $yellow;
                }
            }

            .packages-point-3 {}
        }
    }
}