@import '../../../assets/params.scss';


@media only screen and (max-width: 1199px) {
    .menu-container {
        display: none;
    }

    @media only screen and (max-width: 379px) {
        .mobile-menu-container {
            .mobile-menu-image-wrapper {
                width: 80% !important;
                margin-left: 50px!important;
                .mobile-menu-image {}
            }

            .bm-burger-button {
                width: 30px !important;
                height: 20px !important;
                margin: 25px 10px !important;
            }
        }
    }


    .mobile-menu-container {
        height: 70px;
        width: 100vw;
        background-color: $white;
        position: fixed;
        z-index: 10;
        display: flex;
        flex-direction: row;


        .mobile-menu-image-wrapper {
            width: 100%;
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .mobile-menu-image {
                width: 16rem;
            }
        }

        .mobile-menu-image-wrapper-menu {
            width: 100%;
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            outline: none;

            .mobile-menu-image {
                width: 16rem;
            }
        }

        .mobile-menu-text-container {
            padding: 20px;
            text-align: center;

            .mobile-menu-text {
                font-weight: 700;
                color: $black_2;
                font-size: 16px;
            }

            .current-item {
                color: $yellow;
            }
        }

        .phone-container-main {
            border: 3px solid $yellow;
            overflow: hidden;

            border-top-left-radius: 0px;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 50px;
            cursor: pointer;
            margin-top: 10px;

            &:hover {
                background-color: $yellow;
                -webkit-transition: background-color 500ms ease;
                -ms-transition: background-color 500ms ease;
                transition: background-color 500ms ease;
            }

            .phone-container {
                display: inline-flex;
                align-items: center;


                .phone-icon-container {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    background-color: $yellow;
                    padding: 3.5px;

                    .phone-icon {
                        font-size: 22px;
                        color: $white;
                    }
                }


                .phone-number {
                    .phone-number-text {
                        padding: 0px 16px;
                        background-color: transparent;
                        font-weight: 700;
                        font-size: 15px;
                    }
                }
            }
        }


        /* Position and sizing of burger button */
        .bm-burger-button {
            position: fixed;
            width: 30px;
            height: 20px;
            margin: 25px 20px;
        }

        /* Color/shape of burger icon bars */
        .bm-burger-bars {
            background: $black_2;
        }

        /* Color/shape of burger icon bars on hover*/
        .bm-burger-bars-hover {
            background: #a90000;
        }

        /* Position and sizing of clickable cross button */
        .bm-cross-button {
            height: 24px;
            width: 24px;
        }

        /* Color/shape of close button cross */
        .bm-cross {
            background: $black_2;
        }

        /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
        .bm-menu-wrap {
            position: fixed;
            height: 100%;
            background-color: $white;
        }

        /* General sidebar styles */
        .bm-menu {
            background: $white;
            padding: 2.5em 1.5em 0;
            font-size: 1.15em;
        }

        /* Morph shape necessary with bubble or elastic */
        .bm-morph-shape {
            fill: #373a47;
        }

        /* Wrapper for item list */
        .bm-item-list {
            color: #b8b7ad;
            padding: 0.8em;
        }

        /* Individual item */
        .bm-item {
            display: inline-block;
        }

        /* Styling of overlay */
        .bm-overlay {
            background: rgba(0, 0, 0, 0.3);

        }
    }
}

@media only screen and (min-width: 1200px) {
    .mobile-menu-container {
        display: none;
    }

    .menu-container {
        width: 1200px;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: absolute;

        z-index: 100;

        .menu-logo {
            // height: 70px;
            // height: 50px;
            // width: auto;
            // object-fit: contain;
            margin-top: 20px;
        }

        .nav-container {
            width: 70%;
            align-items: center;

            .menu-options-container {
                // width: 40%;
                align-items: center;
                list-style: none;
                justify-content: flex-end;
                position: relative;

                .menu-option {
                    padding-right: 50px;

                    .menu-text {
                        font-weight: 700;
                        color: $black_2;
                        font-size: 15px;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                    }

                    .menu-option-highlight {
                        height: 5px;
                        background-color: $yellow;
                        opacity: 0;
                        width: 0%;

                    }

                    &:hover {
                        .menu-text {
                            color: $yellow;
                        }

                        .menu-option-highlight {
                            width: 100%;
                            opacity: 1;
                            -webkit-transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                            transition: all .3s ease-in-out;
                        }
                    }



                }

                .current-item {
                    .menu-text {
                        color: $yellow;
                    }

                    .menu-option-highlight {
                        opacity: 1;
                        width: 100%;
                    }
                }

                .enable-floating-menu {
                    display: block !important;
                }

                .menu-floating-container {
                    display: none;
                    position: absolute;
                    background: $white;

                    box-shadow: 0px 0px 42px -13px rgba(0, 0, 0, 0.28);
                    -webkit-box-shadow: 0px 0px 42px -13px rgba(0, 0, 0, 0.28);
                    -moz-box-shadow: 0px 0px 42px -13px rgba(0, 0, 0, 0.28);

                    .menu-floating-separator {
                        height: 1px;
                        background: gray;
                        // width: 100%;
                        margin: 0 10px;
                        opacity: 0.5;
                    }

                    .menu-floating-separator-hide {
                        display: none;
                    }

                    .menu-floating-option {
                        padding: 14px;
                        padding-right: 5em;
                        cursor: pointer;


                        &:last-child {
                            border-bottom: none;
                        }


                        .menu-floating-text {
                            color: $black_2;
                            font-weight: 700;
                            font-size: 15px;

                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }

        .phone-container-main {
            border: 3px solid $yellow;
            overflow: hidden;

            border-top-left-radius: 0px;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 50px;
            cursor: pointer;

            &:hover {
                background-color: $yellow;
                -webkit-transition: background-color 500ms ease;
                -ms-transition: background-color 500ms ease;
                transition: background-color 500ms ease;

                .phone-container {

                    .phone-icon-container {
                        .phone-icon {
                            color: $white;
                            -webkit-transition: color 500ms ease;
                            -ms-transition: color 500ms ease;
                            transition: color 500ms ease;

                        }
                    }
                }
            }

            .phone-container {
                display: inline-flex;
                align-items: center;



                .phone-icon-container {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // background-color: $yellow;
                    padding: 3.5px;
                    border-right: 3px solid $yellow;


                    .phone-icon {
                        font-size: 22px;
                        color: $yellow;
                    }
                }


                .phone-number {
                    .phone-number-text {
                        padding: 0px 12px;
                        background-color: transparent;
                        font-weight: 700;
                        font-size: 15px;
                    }
                }
            }
        }

        .menu-li-cursor {
            cursor: pointer;
        }
    }
}