@import '../../../../assets/params.scss';


@media only screen and (max-width: 768px) {

    .so-container {
        margin-bottom: 5em;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;

        .so-wrapper {
            // width: 1200px;
            // display: flex;
            // flex-direction: column;

            .so-tile-container {
                width: 100%;
                margin-bottom: 2em;

                .so-tile-header-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        .so-tile-header-text {
                            color: $yellow !important;
                        }
                    }

                    .so-tile-header-image {
                        width: 65px;
                        height: 65px;
                        margin: 20px;
                    }

                    .so-tile-header-text-wrapper {
                        padding: 0 20px;
                        border-left: 1px solid $black_2;
                        margin-bottom: 16px;

                        .so-tile-header-text {

                            font-size: 1.25em;
                            font-weight: 800;
                            line-height: 1.4;
                            color: $black_2;
                        }

                    }
                }

                .so-tile-body {
                    .so-tile-body-title {
                        text-align: center;
                        font-size: 14px;
                        font-weight: 800;
                        line-height: 1.4;
                        color: $black_2;
                    }

                    .so-tile-body-ul {
                        list-style: none;

                        .so-tile-body-li {
                            font-size: 1em;
                            line-height: 1.8;
                            font-weight: 700;
                            color: $black_2;
                            display: flex;
                            flex-direction: row;
                            // cursor: pointer;

                            &:hover {
                                .so-tile-body-li-icon {
                                    color: $yellow;

                                }
                            }



                            .so-tile-body-li-text {
                                padding-inline-start: 1ch;
                                color: $black_2;
                            }
                        }
                    }
                }
            }
        }
    }


}



@media (min-width: 769px) and (max-width: 1199px) {

    .so-container {
        width: 100%;

        .so-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .so-tile-container {
                width: 45%;

                .so-tile-header-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        .so-tile-header-text {
                            color: $yellow !important;
                        }
                    }

                    .so-tile-header-image {
                        width: 65px;
                        height: 65px;
                        margin: 20px;
                    }

                    .so-tile-header-text-wrapper {
                        padding: 0 20px;
                        border-left: 1px solid $black_2;
                        margin-bottom: 16px;

                        .so-tile-header-text {

                            font-size: 1.25em;
                            font-weight: 800;
                            line-height: 1.4;
                            color: $black_2;
                        }

                    }
                }

                .so-tile-body {
                    .so-tile-body-title {
                        text-align: center;
                        font-size: 14px;
                        font-weight: 800;
                        line-height: 1.4;
                        color: $black_2;
                    }

                    .so-tile-body-ul {
                        list-style: none;

                        .so-tile-body-li {
                            font-size: 1em;
                            line-height: 1.8;
                            font-weight: 700;
                            color: $black_2;
                            display: flex;
                            flex-direction: row;
                            // cursor: pointer;

                            &:hover {
                                .so-tile-body-li-icon {
                                    color: $yellow;

                                }
                            }



                            .so-tile-body-li-text {
                                padding-inline-start: 1ch;
                                color: $black_2;
                            }
                        }
                    }
                }
            }
        }
    }


}

@media only screen and (min-width: 1200px) {

    .so-container {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;

        .so-wrapper {
            // width: 1200px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .so-tile-container {
                width: 20%;

                .so-tile-header-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        .so-tile-header-text {
                            color: $yellow !important;
                        }
                    }

                    .so-tile-header-image {
                        width: 65px;
                        height: 65px;
                        margin: 20px;
                    }

                    .so-tile-header-text-wrapper {
                        padding: 0 20px;
                        border-left: 1px solid $black_2;
                        margin-bottom: 16px;

                        .so-tile-header-text {

                            font-size: 1.25em;
                            font-weight: 800;
                            line-height: 1.4;
                            color: $black_2;
                        }

                    }
                }

                .so-tile-body {
                    .so-tile-body-title {
                        text-align: center;
                        font-size: 14px;
                        font-weight: 800;
                        line-height: 1.4;
                        color: $black_2;
                    }

                    .so-tile-body-ul {
                        list-style: none;

                        .so-tile-body-li {
                            font-size: 1em;
                            line-height: 1.8;
                            font-weight: 700;
                            color: $black_2;
                            display: flex;
                            flex-direction: row;
                            // cursor: pointer;

                            &:hover {
                                .so-tile-body-li-icon {
                                    color: $yellow;

                                }
                            }



                            .so-tile-body-li-text {
                                padding-inline-start: 1ch;
                                color: $black_2;
                            }
                        }
                    }
                }
            }
        }
    }


}