@import '../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .home-container {
        .home-title-text {
            font-size: 2.95rem;
            font-weight: 900;
            line-height: 1.2;
            color: $black;
            font-family: "Nunito", Arial, Helvetica, sans-serif;

            .home-title-text-yellow {
                color: $yellow;

            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .home-container {
        .home-title-text {
            font-size: 2.95rem;
            font-weight: 900;
            line-height: 1.2;
            color: $black;
            font-family: "Nunito", Arial, Helvetica, sans-serif;

            .home-title-text-yellow {
                color: $yellow;

            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .home-container {
        .home-title-text {
            font-size: 2.95rem;
            font-weight: 900;
            line-height: 1.2;
            color: $black;
            font-family: "Nunito", Arial, Helvetica, sans-serif;

            .home-title-text-yellow {
                color: $yellow;

            }
        }
    }
}