@import '../../../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .rt-container {
        width: 100%;
        margin-bottom: 2em;

        .rt-wrapper {
            .rt-divider {
                margin-bottom: 2em;
            }

            .rt-header-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .rt-header-icon {
                    width: 65px;
                    height: 65px;
                }

                .rt-header-text {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-size: 1.3em;
                    color: $pale_green;
                    font-weight: 800;
                    line-height: 1.4;
                    padding-left: 1em;
                }
            }

            .rt-content-container {
                .rt-content-wrapper {
                    margin: 0 !important;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    margin-bottom: .5em;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: flex-end;
                    -ms-flex-align: end;
                    align-items: center;

                    .rt-content-title {
                        max-width: 65%;
                        font-size: .94em;
                        font-weight: 800;
                        line-height: 1;
                        display: inline-block;
                        color: $yellow;
                    }

                    .rt-content-dots {
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        height: 2px;
                        background-image: -webkit-radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-image: -moz-radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-image: radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-size: 12px 2px;
                        background-position: center;
                        margin: .2em .5em;
                        background-repeat: repeat;
                    }

                    .rt-content-rate {
                        font-size: 1.1em;
                        font-weight: 800;
                        line-height: 1;
                        display: inline-block;
                        text-align: right;
                    }
                }


            }

            .rt-content-extra-note {
                font-size: 1em;
                color: $black;
                font-weight: 400;
                line-height: 1.4;
                margin-top: 14px;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .rt-container {
        width: 100%;
        margin-bottom: 3em;

        .rt-wrapper {
            .rt-divider {
                margin-bottom: 2em;
            }

            .rt-header-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .rt-header-icon {
                    width: 65px;
                    height: 65px;
                }

                .rt-header-text {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-size: 1.8em;
                    color: $pale_green;
                    font-weight: 800;
                    line-height: 1.4;
                    padding-left: 1em;
                }
            }

            .rt-content-container {
                .rt-content-wrapper {
                    margin: 0 !important;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    margin-bottom: .5em;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: flex-end;
                    -ms-flex-align: end;
                    align-items: center;

                    .rt-content-title {
                        max-width: 65%;
                        font-size: .94em;
                        font-weight: 800;
                        line-height: 1;
                        display: inline-block;
                        color: $yellow;
                    }

                    .rt-content-dots {
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        height: 2px;
                        background-image: -webkit-radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-image: -moz-radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-image: radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-size: 12px 2px;
                        background-position: center;
                        margin: .2em .5em;
                        background-repeat: repeat;
                    }

                    .rt-content-rate {
                        font-size: 1.1em;
                        font-weight: 800;
                        line-height: 1;
                        display: inline-block;
                        text-align: right;
                    }
                }


            }

            .rt-content-extra-note {
                font-size: 1em;
                color: $black;
                font-weight: 400;
                line-height: 1.4;
                margin-top: 14px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .rt-container {
        width: 100%;
        margin-bottom: 4em;

        .rt-wrapper {
            .rt-divider {
                margin-bottom: 2em;
            }

            .rt-header-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .rt-header-icon {
                    width: 65px;
                    height: 65px;
                }

                .rt-header-text {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-size: 1.8em;
                    color: $pale_green;
                    font-weight: 800;
                    line-height: 1.4;
                    padding-left: 1em;
                }
            }

            .rt-content-container {
                .rt-content-wrapper {
                    margin: 0 !important;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    margin-bottom: .5em;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: flex-end;
                    -ms-flex-align: end;
                    align-items: center;

                    .rt-content-title {
                        max-width: 65%;
                        font-size: .94em;
                        font-weight: 800;
                        line-height: 1;
                        display: inline-block;
                        color: $yellow;
                    }

                    .rt-content-dots {
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        height: 2px;
                        background-image: -webkit-radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-image: -moz-radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-image: radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
                        background-size: 12px 2px;
                        background-position: center;
                        margin: .2em .5em;
                        background-repeat: repeat;
                    }

                    .rt-content-rate {
                        font-size: 1.1em;
                        font-weight: 800;
                        line-height: 1;
                        display: inline-block;
                        text-align: right;
                    }
                }


            }

            .rt-content-extra-note {
                font-size: 1em;
                color: $black;
                font-weight: 400;
                line-height: 1.4;
                margin-top: 14px;
            }
        }
    }
}