@import '../../../../assets/params.scss';

@media only screen and (max-width: 768px) {
    .os-container {
        padding: 20px;
        margin: 2rem 0;
        scroll-margin-top: $mobile_menu_safe_area;

        .os-title-container {

            .os-title {
                .os-title-yellow {}
            }
        }

        .os-divider {
            margin-bottom: 1rem;
        }

        .os-tile {
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            justify-content: center;

            .os-tile-container {
                overflow: hidden;
                background: $gray_2;
                padding: 2.5em 2.8em 3em 2.8em;
                border-radius: 30px;
                margin: 10px;
                position: relative;


                .os-tile-image {
                    width: 5rem;
                    height: 5rem;
                }

                .os-tile-title {
                    font-weight: 800;
                    font-size: 1.6em;
                    line-height: 1.3;
                    padding: 1em 0 1rem 0;
                    color: $black_2;
                }

                .os-tile-para {
                    line-height: 1.6;
                    color: $black_2;
                    padding-bottom: 1.8rem;
                    font-weight: 400;
                    font-size: 16px;
                }

                .os-tile-know-more-container {
                    display: flex;
                    flex-direction: row;
                    color: $yellow;
                    align-items: center;
                    position: absolute;
                    bottom: 2.5em;

                    .os-tile-know-more {
                        font-size: 1em;
                        font-weight: 700;
                        letter-spacing: .5px;
                    }

                    .os-tile-know-more-icon {
                        margin-left: 4px;
                        height: 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .os-container {
        padding: 20px;
        margin: 4rem 0 2rem 0;
        scroll-margin-top: $mobile_menu_safe_area;

        .os-title-container {

            .os-title {
                .os-title-yellow {}
            }
        }

        .os-divider {
            margin-bottom: 3rem;
        }

        .os-tile {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            justify-content: center;

            .os-tile-container {
                max-width: 45%;
                min-width: 15%;
                overflow: hidden;
                background: $gray_2;
                padding: 2.5em 2.8em 3em 2.8em;
                border-radius: 30px;
                margin: 10px;
                position: relative;


                .os-tile-image {
                    width: 5rem;
                    height: 5rem;
                }

                .os-tile-title {
                    font-weight: 800;
                    font-size: 1.6em;
                    line-height: 1.3;
                    padding: 1em 0 1rem 0;
                    color: $black_2;
                }

                .os-tile-para {
                    line-height: 1.6;
                    color: $black_2;
                    padding-bottom: 1.8rem;
                    font-weight: 400;
                    font-size: 16px;
                }

                .os-tile-know-more-container {
                    display: flex;
                    flex-direction: row;
                    color: $yellow;
                    align-items: center;
                    position: absolute;
                    bottom: 2.5em;

                    .os-tile-know-more {
                        font-size: 1em;
                        font-weight: 700;
                        letter-spacing: .5px;
                    }

                    .os-tile-know-more-icon {
                        margin-left: 4px;
                        height: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .os-container {
        padding: 20px;
        margin: 4rem 0 2rem 0;

        .os-title-container {

            .os-title {
                .os-title-yellow {}
            }
        }

        .os-divider {
            margin-bottom: 3rem;
        }

        .os-tile {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            justify-content: center;

            .os-tile-container {
                max-width: 23%;
                min-width: 15%;
                overflow: hidden;
                background: $gray_2;
                padding: 2.5em 2.8em 3em 2.8em;
                border-radius: 30px;
                margin: 10px;
                position: relative;


                .os-tile-image {
                    width: 5rem;
                    height: 5rem;
                }

                .os-tile-title {
                    font-weight: 800;
                    font-size: 1.6em;
                    line-height: 1.3;
                    padding: 1em 0 1rem 0;
                    color: $black_2;
                }

                .os-tile-para {
                    line-height: 1.6;
                    color: $black_2;
                    padding-bottom: 1.8rem;
                    font-weight: 400;
                    font-size: 16px;
                }

                .os-tile-know-more-container {
                    display: flex;
                    flex-direction: row;
                    color: $yellow;
                    align-items: center;
                    position: absolute;
                    bottom: 2.5em;

                    .os-tile-know-more {
                        font-size: 1em;
                        font-weight: 700;
                        letter-spacing: .5px;
                    }

                    .os-tile-know-more-icon {
                        margin-left: 4px;
                        height: 1rem;
                    }
                }
            }
        }
    }
}