@import '../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .cu-container {
        width: 100vw;
        // position: relative;

        // .cu-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .cu-header-container {
            // margin-top: 36vh;
            width: 100%;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            padding: 3rem 20px 1rem 20px;

            .cu-header-margin {

                .cu-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .cu-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .cu-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .cu-image-container-wrapper {


                .cu-image-text-container {
                    padding: 4em 20px;

                    .cu-image-text {
                        color: $white;
                    }

                    .cu-image-text-1 {
                        font-size: 1rem;
                        margin-bottom: 16px;
                    }

                    .cu-image-text-2 {
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 3.6rem;
                    }

                    .cu-image-text-3 {
                        font-size: 1.5rem;
                        margin-top: 16px;
                    }
                }

            }
        }

        .cu-content-container-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .cu-content-container {
                margin: 3em 0 1em 0;

                .cu-body-wrapper {
                    // display: flex;
                    // flex-direction: column;
                    // // justify-content: center;

                    // margin-top: 10em;

                    .cu-body {
                        display: flex;
                        flex-direction: column-reverse;

                        .cs-left-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 20px;


                            // background: $yellow;
                            .cs-left-container-text {
                                font-size: 1.5em;
                                color: $black_2;
                                font-weight: 700;
                                line-height: 1.4;
                                text-align: center;
                                margin-bottom: 1em;
                            }
                        }

                        .cs-right-container {
                            // background: $red;
                            padding: 10px;

                        }
                    }
                }
            }
        }

    }
}


@media (min-width: 769px) and (max-width: 1199px) {
    .cu-container {
        width: 100vw;
        // position: relative;

        // .cu-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .cu-header-container {
            // margin-top: 36vh;
            width: 100%;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            padding: 10rem 20px 1rem 20px;

            .cu-header-margin {

                .cu-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .cu-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .cu-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .cu-image-container-wrapper {


                .cu-image-text-container {
                    padding: 4em 20px;

                    .cu-image-text {
                        color: $white;
                    }

                    .cu-image-text-1 {
                        font-size: 1rem;
                        margin-bottom: 16px;
                    }

                    .cu-image-text-2 {
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 3.6rem;
                    }

                    .cu-image-text-3 {
                        font-size: 1.5rem;
                        margin-top: 16px;
                    }
                }

            }
        }

        .cu-content-container-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .cu-content-container {
                margin: 3em 0 4em 0;

                .cu-body-wrapper {
                    // display: flex;
                    // flex-direction: column;
                    // // justify-content: center;

                    // margin-top: 10em;

                    .cu-body {
                        display: flex;
                        flex-direction: column;

                        .cs-left-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            // background: $yellow;
                            .cs-left-container-text {
                                font-size: 1.5em;
                                color: $black_2;
                                font-weight: 700;
                                line-height: 1.4;
                                text-align: center;
                                margin-bottom: 2em;
                            }
                        }

                        .cs-right-container {
                            // background: $red;
                        }
                    }
                }
            }
        }

    }
}


@media only screen and (min-width: 1200px) {
    .cu-container {
        width: 100vw;
        // position: relative;

        // .cu-header-container-background {
        //     background-color: rgba(0, 0, 0, .07);
        //     position: absolute;
        //     width: 100vw;
        //     // height: 60vh;
        //     height: 60%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }

        .cu-header-container {
            // margin-top: 36vh;
            width: 100%;
            padding-top: 17rem;
            padding-bottom: 3rem;
            background-color: rgba(0, 0, 0, .07);
            display: flex;
            flex-direction: column;
            align-items: center;

            .cu-header-margin {
                width: 1200px;

                .cu-header-text1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4;
                    color: $black_2;
                    margin-bottom: .9em;
                    text-align: left;
                    display: inline-block;

                    &:hover {
                        color: $yellow;
                    }
                }

                .cu-header-text2 {
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 3.6rem;
                    color: $black_2;
                }
            }

        }

        .cu-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(http://dognation.pet/wp-content/uploads/2018/09/post_01-2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;

            &::before {
                background-color: rgba(0, 0, 0, .3);
            }



            .cu-image-container-wrapper {
                width: 1200px;


                .cu-image-text-container {
                    padding: 4em 0;

                    .cu-image-text {
                        color: $white;
                    }

                    .cu-image-text-1 {
                        font-size: 1rem;
                        margin-bottom: 16px;
                    }

                    .cu-image-text-2 {
                        font-family: "Nunito", Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 3.6rem;
                    }

                    .cu-image-text-3 {
                        font-size: 1.5rem;
                        margin-top: 16px;
                    }
                }

            }
        }

        .cu-content-container-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .cu-content-container {
                width: 1200px;
                margin: 3em 0 9em 0;

                .cu-body-wrapper {
                    // display: flex;
                    // flex-direction: column;
                    // // justify-content: center;

                    // margin-top: 10em;

                    .cu-body {
                        width: 1200px;
                        display: flex;

                        .cs-left-container {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            // background: $yellow;
                            .cs-left-container-text {
                                font-size: 1.5em;
                                color: $black_2;
                                font-weight: 700;
                                line-height: 1.4;
                                text-align: center;
                                margin-bottom: 2em;
                            }
                        }

                        .cs-right-container {
                            width: 50%;
                            // background: $red;
                        }
                    }
                }
            }
        }

    }
}