@import '../../../../assets/params.scss';

@media only screen and (max-width: 768px) {
    .wwa-container {
        padding: 20px;
        margin: 2rem 0;
        scroll-margin-top: $mobile_menu_safe_area;

        .wwa-title-container {
            .wwa-title {
                .wwa-title-yellow {}
            }
        }

        .wwa-divider {
            margin-bottom: 1rem;
        }

        .wwa-para-container {
            // margin-top: 1em;

            .wwa-para {
                font-size: 18px;
                line-height: 1.6;
                margin-top: 1.5em;
                font-weight: 400;
                color: $black_2;
                opacity: 0.9;
            }

            .wwa-para-1 {}

            .wwa-para-2 {}

            .wwa-para-3 {}
        }

        .wwa-author-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .wwa-author-main {
                margin-bottom: 3rem;

                .wwa-author-image-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .wwa-author-image {}
                }

                .wwa-author-about {
                    font-weight: 400;
                    font-size: 16px;
                    margin: 1em 0;
                    line-height: 1.4;
                    text-align: center;
                    color: $black_2;
                    letter-spacing: 0.5px;
                    opacity: 0.9;
                }

                .wwa-author-name {
                    font-size: 2rem;
                    font-weight: 800;
                    font-family: "Nunito";
                    text-align: center;
                    color: $black_2;
                    opacity: 0.9;
                }

                .wwa-author-profession {
                    font-size: 1.2rem;
                    margin-top: 0.3em;
                    line-height: 1.7;
                    font-weight: 400;
                    text-align: center;
                    color: $black_2;
                    opacity: 0.9;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .wwa-container {
        padding: 20px;
        margin: 2rem 0;
        scroll-margin-top: $mobile_menu_safe_area;

        .wwa-title-container {
            .wwa-title {
                .wwa-title-yellow {}
            }
        }

        .wwa-divider {
            margin-bottom: 3rem;
        }

        .wwa-para-container {
            // margin-top: 1em;

            .wwa-para {
                font-size: 18px;
                line-height: 1.6;
                margin-top: 1.5em;
                font-weight: 400;
                color: $black_2;
                opacity: 0.9;
            }

            .wwa-para-1 {}

            .wwa-para-2 {}

            .wwa-para-3 {}
        }

        .wwa-author-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            flex-wrap: wrap;

            .wwa-author-main {
                max-width: 45%;
                min-width: 28%;
                margin-bottom: 20px;

                .wwa-author-image-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .wwa-author-image {}
                }

                .wwa-author-about {
                    font-weight: 400;
                    font-size: 16px;
                    margin-top: 2em;
                    margin-bottom: 1.4em;
                    line-height: 1.4;
                    text-align: center;
                    color: $black_2;
                    letter-spacing: 0.5px;
                    opacity: 0.9;
                }

                .wwa-author-name {
                    font-size: 30px;
                    font-weight: 800;
                    font-family: "Nunito";
                    text-align: center;
                    color: $black_2;
                    opacity: 0.9;
                }

                .wwa-author-profession {
                    font-size: 18px;
                    margin-top: 1em;
                    line-height: 1.7;
                    font-weight: 400;
                    text-align: center;
                    color: $black_2;
                    opacity: 0.9;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .wwa-container {
        padding: 20px;
        margin: 2rem 0;

        .wwa-title-container {
            .wwa-title {
                .wwa-title-yellow {}
            }
        }

        .wwa-divider {
            margin-bottom: 3rem;
        }

        .wwa-para-container {
            // margin-top: 1em;

            .wwa-para {
                font-size: 18px;
                line-height: 1.6;
                margin-top: 1.5em;
                font-weight: 400;
                color: $black_2;
                opacity: 0.9;
            }

            .wwa-para-1 {}

            .wwa-para-2 {}

            .wwa-para-3 {}
        }

        .wwa-author-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            .wwa-author-main {
                max-width: 30%;
                min-width: 28%;

                .wwa-author-image-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .wwa-author-image {}
                }

                .wwa-author-about {
                    font-weight: 400;
                    font-size: 16px;
                    margin-top: 2em;
                    margin-bottom: 1.4em;
                    line-height: 1.4;
                    text-align: center;
                    color: $black_2;
                    letter-spacing: 0.5px;
                    opacity: 0.9;
                }

                .wwa-author-name {
                    font-size: 30px;
                    font-weight: 800;
                    font-family: "Nunito";
                    text-align: center;
                    color: $black_2;
                    opacity: 0.9;
                }

                .wwa-author-profession {
                    font-size: 18px;
                    margin-top: 1em;
                    line-height: 1.7;
                    font-weight: 400;
                    text-align: center;
                    color: $black_2;
                    opacity: 0.9;
                }
            }
        }
    }
}