@import '../../../assets/params.scss';

@media only screen and (max-width: 768px) {
    .footer-container {
        padding: 4rem 20px;
        display: flex;
        flex-direction: column;

        .footer-content-1 {
            padding-right: 50px;

            .footer-logo {}

            .footer-social-media-logo-container {
                margin-top: 28px;
                display: flex;
                flex-direction: row;

                .footer-social-media-logo {
                    background-color: $yellow;
                    padding: 10px;
                    border-radius: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;

                    .footer-content-icon {
                        color: $white;
                    }
                }
            }
        }

        .footer-content-2 {
            opacity: 0.9;
            margin-top: 3rem;

            .footer-title {
                margin-bottom: 20px;
                color: $yellow;
                font-size: 1.44rem;
                font-weight: 800;
            }

            .footer-content-body {
                .footer-content-ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    .footer-content-li {
                        display: flex;
                        flex-direction: row;

                        .footer-content-2-icon {}

                        .footer-content-2-text {
                            margin: 0px 0px 16px 10px;
                            color: $black_2;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .footer-content-3 {
            margin-top: 2rem;
        }
    }

    .footer-curser {
        cursor: pointer;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .footer-container {
        padding: 2rem 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        .footer-content-1 {
            width: 50%;
            padding-right: 50px;
            margin-top: 2rem;

            .footer-logo {}

            .footer-social-media-logo-container {
                margin-top: 28px;
                display: flex;
                flex-direction: row;

                .footer-social-media-logo {
                    background-color: $yellow;
                    padding: 10px;
                    border-radius: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;

                    .footer-content-icon {
                        color: $white;
                    }
                }
            }
        }

        .footer-content-2 {
            width: 50%;
            padding-right: 50px;
            opacity: 0.9;
            margin-top: 2rem;

            .footer-title {
                margin-bottom: 20px;
                color: $yellow;
                font-size: 1.44rem;
                font-weight: 800;
            }

            .footer-content-body {
                .footer-content-ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    .footer-content-li {
                        display: flex;

                        .footer-content-2-icon {}

                        .footer-content-2-text {
                            margin: 0px 0px 16px 10px;
                            color: $black_2;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .footer-content-3 {
            width: 50%;
            margin-top: 2rem;
        }
    }

    .footer-curser {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-container {
        width: 1200px;
        padding: 4rem 0;
        display: flex;
        flex-direction: row;

        .footer-content-1 {
            width: 25%;
            padding-right: 50px;

            .footer-logo {}

            .footer-social-media-logo-container {
                margin-top: 28px;
                display: flex;
                flex-direction: row;

                .footer-social-media-logo {
                    background-color: $yellow;
                    padding: 10px;
                    border-radius: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;

                    .footer-content-icon {
                        color: $white;
                    }
                }
            }
        }

        .footer-content-2 {
            width: 25%;
            padding-right: 50px;
            opacity: 0.9;

            .footer-title {
                margin-bottom: 20px;
                color: $yellow;
                font-size: 1.44rem;
                font-weight: 800;
            }

            .footer-content-body {
                .footer-content-ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    .footer-content-li {

                        display: flex;

                        .footer-content-2-icon {}

                        .footer-content-2-text {
                            margin: 0px 0px 16px 10px;
                            color: $black_2;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .footer-content-3 {
            width: 25%;
        }
    }

    .footer-curser {
        cursor: pointer;
    }
}