@import '../../../assets/params.scss';


@media only screen and (max-width: 768px) {
    .user-form-container {
        margin: 0 10px;

        .user-form-wrapper {
            padding: 1em;
            background-color: rgba(242, 242, 244, 1);
            border-radius: 50px;

            .user-form-text-container {
                text-align: center;
                padding: 10px 0;

                .user-form-text-1 {
                    font-size: 2.95rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    color: $black_2;
                }

                .user-form-text-2 {
                    font-size: 2.95rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    color: $yellow;
                }
            }

            .user-form-body {
                margin-top: 20px;

                .user-form-form {
                    .user-form-textField-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-bottom: 20px;
                        width: 100%;
                        align-items: center;

                        .user-form-textField {
                            width: 100%;
                            // background-color: $white;


                            .MuiFormLabel-root {
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;

                                .MuiFormLabel-asterisk {
                                    color: $red;

                                }
                            }

                            .MuiInputBase-root {
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
                                background-color: $white;

                            }

                            .MuiFormHelperText-root {
                                color: $red;
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
                            }

                        }

                        .user-form-textField-extra {
                            margin-bottom: 20px;
                        }

                        .user-form-textField-1 {
                            font-size: 16px;
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.54);
                            padding-left: 10px;
                            background-color: rgba(242, 242, 244, 1);

                        }
                    }

                    .user-form-tAndc-wrapper {
                        .user-form-tAndc-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .user-form-tAndc-checkbox {
                                .MuiSvgIcon-root {
                                    color: $yellow;
                                }
                            }

                            .user-form-tAndc-text {
                                font-size: 16px;
                                font-weight: 700;
                                color: $black_2;
                            }

                            .user-form-tAndc-yellow {
                                color: $yellow;
                                transform: scale(1);
                                display: inline-block;
                                transition: all .2s ease-in-out;

                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }

                        .user-form-tAndc-error {
                            color: $red;
                            margin-left: 12px;
                            font-size: 14px;
                        }
                    }

                    .user-form-button-container {
                        margin-top: 24px;

                        .user-form-button {
                            width: 150px;
                            border-radius: 50px;
                            border-top-left-radius: 0%;
                            cursor: pointer;
                            height: 3.2em;
                            box-shadow: 0 0 0 3em $yellow inset;
                            font-size: .8em;
                            letter-spacing: 1px;
                            font-weight: 700;
                            border: none;
                            color: $white;
                            border: 1px solid $yellow;
                            transition: box-shadow 0.5s ease;
                            transition: all 300ms ease;

                            &:hover {
                                box-shadow: 0 0 0 3em transparent inset;
                                color: $yellow;
                            }
                        }

                    }
                }
            }
        }
    }

    .user-form-textField-yellow {
        font-family: "Nunito Sans", Arial, Helvetica, sans-serif;

        &:hover {
            color: $yellow;
        }
    }

    //tile

    .cu-tile-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        padding-right: 20px;
        align-items: center;

        .cu-tile-image-container {
            .cu-tile-image {
                width: 65px;
                height: 65px;
            }
        }

        .cu-tile-body {
            .cu-tile-body-title {
                font-size: 1.25em;
                color: $yellow;
                font-weight: 700;
                line-height: 1.4;
                padding-inline-start: 20px;
            }

            .cu-tile-body-text-container {
                .cu-tile-body-text-ul {

                    // list-style: none;
                    .cu-tile-body-text-li {
                        font-size: 16px;
                        color: $black_2;
                        font-weight: 400;
                        line-height: 1.4;
                        padding-bottom: 7px;
                        list-style-type: '\1F43E';
                        padding-inline-start: 1ch;
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .user-form-container {
        margin: 0 10px;

        .user-form-wrapper {
            padding: 2em;
            background-color: rgba(242, 242, 244, 1);
            border-radius: 50px;

            .user-form-text-container {
                text-align: center;
                padding: 10px 0;

                .user-form-text-1 {
                    font-size: 2.95rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    color: $black_2;
                }

                .user-form-text-2 {
                    font-size: 2.95rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    color: $yellow;
                }
            }

            .user-form-body {
                margin-top: 20px;

                .user-form-form {
                    .user-form-textField-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-bottom: 20px;
                        width: 100%;
                        align-items: center;

                        .user-form-textField {
                            width: 100%;
                            // background-color: $white;


                            .MuiFormLabel-root {
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;

                                .MuiFormLabel-asterisk {
                                    color: $red;

                                }
                            }

                            .MuiInputBase-root {
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
                                background-color: $white;

                            }

                            .MuiFormHelperText-root {
                                color: $red;
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
                            }

                        }

                        .user-form-textField-extra {
                            margin-right: 20px;
                        }

                        .user-form-textField-1 {
                            font-size: 16px;
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.54);
                            padding-left: 10px;
                            background-color: rgba(242, 242, 244, 1);

                        }
                    }

                    .user-form-tAndc-wrapper {
                        .user-form-tAndc-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .user-form-tAndc-checkbox {
                                .MuiSvgIcon-root {
                                    color: $yellow;
                                }
                            }

                            .user-form-tAndc-text {
                                font-size: 16px;
                                font-weight: 700;
                                color: $black_2;
                            }

                            .user-form-tAndc-yellow {
                                color: $yellow;
                                transform: scale(1);
                                display: inline-block;
                                transition: all .2s ease-in-out;

                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }

                        .user-form-tAndc-error {
                            color: $red;
                            margin-left: 12px;
                            font-size: 14px;
                        }
                    }

                    .user-form-button-container {
                        margin-top: 24px;

                        .user-form-button {
                            width: 150px;
                            border-radius: 50px;
                            border-top-left-radius: 0%;
                            cursor: pointer;
                            height: 3.2em;
                            box-shadow: 0 0 0 3em $yellow inset;
                            font-size: .8em;
                            letter-spacing: 1px;
                            font-weight: 700;
                            border: none;
                            color: $white;
                            border: 1px solid $yellow;
                            transition: box-shadow 0.5s ease;
                            transition: all 300ms ease;

                            &:hover {
                                box-shadow: 0 0 0 3em transparent inset;
                                color: $yellow;
                            }
                        }

                    }
                }
            }
        }
    }

    .user-form-textField-yellow {
        font-family: "Nunito Sans", Arial, Helvetica, sans-serif;

        &:hover {
            color: $yellow;
        }
    }

    //tile

    .cu-tile-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        padding-right: 20px;
        align-items: center;

        .cu-tile-image-container {
            .cu-tile-image {
                width: 65px;
                height: 65px;
            }
        }

        .cu-tile-body {
            .cu-tile-body-title {
                font-size: 1em;
                color: $yellow;
                font-weight: 700;
                line-height: 1.4;
                padding-inline-start: 20px;
            }

            .cu-tile-body-text-container {
                .cu-tile-body-text-ul {

                    // list-style: none;
                    .cu-tile-body-text-li {
                        font-size: 16px;
                        color: $black_2;
                        font-weight: 400;
                        line-height: 1.4;
                        padding-bottom: 7px;
                        list-style-type: '\1F43E';
                        padding-inline-start: 1ch;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .user-form-container {
        margin: 0 10px;

        .user-form-wrapper {
            padding: 2em;
            background-color: rgba(242, 242, 244, 1);
            border-radius: 50px;

            .user-form-text-container {
                text-align: center;
                padding: 10px 0;

                .user-form-text-1 {
                    font-size: 2.95rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    color: $black_2;
                }

                .user-form-text-2 {
                    font-size: 2.95rem;
                    font-weight: 800;
                    font-family: "Nunito", Arial, Helvetica, sans-serif;
                    color: $yellow;
                }
            }

            .user-form-body {
                margin-top: 20px;

                .user-form-form {
                    .user-form-textField-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-bottom: 20px;
                        width: 100%;
                        align-items: center;

                        .user-form-textField {
                            width: 100%;
                            // background-color: $white;


                            .MuiFormLabel-root {
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;

                                .MuiFormLabel-asterisk {
                                    color: $red;

                                }
                            }

                            .MuiInputBase-root {
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
                                background-color: $white;

                            }

                            .MuiFormHelperText-root {
                                color: $red;
                                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
                            }

                        }

                        .user-form-textField-extra {
                            margin-right: 20px;
                        }

                        .user-form-textField-1 {
                            font-size: 16px;
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.54);
                            padding-left: 10px;
                            background-color: rgba(242, 242, 244, 1);

                        }
                    }

                    .user-form-tAndc-wrapper {
                        .user-form-tAndc-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .user-form-tAndc-checkbox {
                                .MuiSvgIcon-root {
                                    color: $yellow;
                                }
                            }

                            .user-form-tAndc-text {
                                font-size: 16px;
                                font-weight: 700;
                                color: $black_2;
                            }

                            .user-form-tAndc-yellow {
                                color: $yellow;
                                transform: scale(1);
                                display: inline-block;
                                transition: all .2s ease-in-out;

                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }

                        .user-form-tAndc-error {
                            color: $red;
                            margin-left: 12px;
                            font-size: 14px;
                        }
                    }

                    .user-form-button-container {
                        margin-top: 24px;

                        .user-form-button {
                            width: 150px;
                            border-radius: 50px;
                            border-top-left-radius: 0%;
                            cursor: pointer;
                            height: 3.2em;
                            box-shadow: 0 0 0 3em $yellow inset;
                            font-size: .8em;
                            letter-spacing: 1px;
                            font-weight: 700;
                            border: none;
                            color: $white;
                            border: 1px solid $yellow;
                            transition: box-shadow 0.5s ease;
                            transition: all 300ms ease;

                            &:hover {
                                box-shadow: 0 0 0 3em transparent inset;
                                color: $yellow;
                            }
                        }

                    }
                }
            }
        }
    }

    .user-form-textField-yellow {
        font-family: "Nunito Sans", Arial, Helvetica, sans-serif;

        &:hover {
            color: $yellow;
        }
    }

    //tile

    .cu-tile-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        padding-right: 20px;
        align-items: center;

        .cu-tile-image-container {
            .cu-tile-image {
                width: 65px;
                height: 65px;
            }
        }

        .cu-tile-body {
            .cu-tile-body-title {
                font-size: 1em;
                color: $yellow;
                font-weight: 700;
                line-height: 1.4;
                padding-inline-start: 20px;
            }

            .cu-tile-body-text-container {
                .cu-tile-body-text-ul {

                    // list-style: none;
                    .cu-tile-body-text-li {
                        font-size: 16px;
                        color: $black_2;
                        font-weight: 400;
                        line-height: 1.4;
                        padding-bottom: 7px;
                        list-style-type: '\1F43E';
                        padding-inline-start: 1ch;
                    }
                }
            }
        }
    }
}